<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="csrf_token" id="csrf_token" value="{{csrf_token()}}">    <script src="{{ url_for('static',filename='jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static',filename='common/sweetalert/xtalert.js') }}"></script>
    <script src="{{ url_for('static',filename='common/sweetalert/sweetalert.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='common/sweetalert/sweetalert.css') }}">
    {% block header %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

            </button>
            <a class="navbar-brand" href="/">破茧科技首页</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
            {% if user %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{ user.username}}</a></li>
                    <li class="dropdown">
                        <a href="/logout/">注销</a>
                    </li>
                </ul>
            {% else %}
                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signin/">登录</a></li>
                    <li class="dropdown">
                        <a href="/signup/">注册</a>
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock %}
</body>
</html>