<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
    <title>{% block title %} {% endblock %}</title>
    <script src="{{ url_for('static',filename='jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='cms/css/main.css') }}">
    <script src="{{ url_for('static',filename='cms/js/main.js') }}"></script>
    <script src="{{ url_for('static',filename='common/sweetalert/xtalert.js') }}"></script>
    <script src="{{ url_for('static',filename='common/sweetalert/sweetalert.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='common/sweetalert/sweetalert.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">破茧科技论坛CMS管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="/cms/logout/">注销</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="查找...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav-sidebar">
                <li class="unfold"><a href="/">首页</a></li>
                {% if user.checkpermission(1) %}
                    <li class="profile-li">
                        <a href="#">个人中心<span></span></a>
                        <ul class="subnav">
                            <li><a href="/cms/user_infor/">个人信息</a></li>
                            <li><a href="/cms/resetpwd/">修改密码</a></li>
                            <li><a href="/cms/resetemail/">修改邮箱</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.checkpermission(2) %}
                    <li class="nav-group post-manage"><a href="/cms/banner/">轮播图管理</a></li>
                {% endif %}
                {% if user.checkpermission(4) %}
                    <li class="nav-group post-manage"><a href="/cms/showpost/">帖子管理</a></li>
                {% endif %}
                {% if user.checkpermission(8) %}
                    <li class="comments-manage"><a href="/cms/common/">评论管理</a></li>
                {% endif %}
                {% if user.checkpermission(16) %}
                    <li class="board-manage"><a href="/cms/board/">板块管理</a></li>
                {% endif %}
                {% if user.checkpermission(32) %}
                    <li class="nav-group user-manage"><a href="#">用户管理</a></li>
                {% endif %}
                {% if user.checkpermission(64) %}
                    <li class="nav-group cmsuser-manage"><a href="#">CMS用户管理</a></li>
                {% endif %}
                {% if user.checkpermission(128) %}
                    <li class="cmsrole-manage"><a href="#">CMS组管理</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>{% block page_title %} {% endblock %}</h1>
            <div class="main_content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>